.alt-header {
    display: flex;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
}

.alt-header__title {
    font-size: 32px;
    font-family: 600;

}


.alt-header__column:first-child {
    margin-right: auto;
}

.alt-header__column:last-child {
    margin-left: auto;
}

.settings-list {
    display: flex;
    justify-self: center;
    flex-direction: column;

}

.settings-setting {
    padding: 10px 0px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;

}

.settings-setting i {
    padding-right: 10px;
}