.find-icons {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.find-icon__icon {
    display: flex;

    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    /* flex direction이 column 이르모 main axis가 세로축으로 바뀜 즉 align items center */
}

.find-icon__icon i {
    font-size: 35px;
}

/* 그냥 .i 라고만 하면 모든 아이콘에 적용이 되므로 제대로 명시해준다. */

.find-icon__icon span {
    margin-top: 15px;
}